.title 
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 590px;
}
#console
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 200px;
	text-align: center;
}
.content 
{
	margin-left: auto;
	margin-right: auto;
	width: 414px;
	z-index: 1000;
}
.noview
{
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	top: 10px;
	z-index: -10;
	text-align: center;
	height: 0px;
	width: 0px;
}
.screen
{
	position: fixed;
	background-color: white;
	top: 0px;
	width: 600px;
	height: 600px;
	z-index: -5;
}
.ribbon
{
	position: absolute;
	right: 0;
	top: 0;
}
