%html
	%head
		%script{:type => "text/javascript", :src => "burn.js"}
		%script{:type => "text/javascript", :src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "burn.css"}
	%body
		.title
			%img{:src => "img/text.gif"}
		.screen
		.content
			%canvas{:id => :burn, :width => 414, :height => 550}
		.noview
			%img{:src => "img/fire.gif", :id => 'fire'}
			%img{:src => "img/bible_static.gif", :id => 'bible'}
			%img{:src => "img/quran_static.gif", :id => 'quran'}
			%img{:src => "img/torah_static.gif", :id => 'torah'}
			%img{:src => "img/mormon_static.gif", :id => 'mormon'}
			%img{:src => "img/vedas_static.gif", :id => 'vedas'}
			%img{:src => "img/dianetics_static.gif", :id => 'dianetics'}
		.ribbon
			%a{:href => "http://github.com/slpsys/Burn-a-religious-text"}
				%img{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"}
		.fbshare
			%a{:name => "fb_share"}
