%html
	%head
		%script{:type => "text/javascript", :src => "burn.js"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "burn.css"}
	%body
		.title
			%img{:src => "img/virtualburn_text.gif"}
		.screen
		.content
			%canvas{:id => :burn, :width => 414, :height => 400}
		.noview
			%img{:src => "img/virtualburn_fire.gif", :id => 'fire'}
			%img{:src => "img/virtualburn_bible_static.gif", :id => 'bible'}
			%img{:src => "img/virtualburn_quran_static.gif", :id => 'quran'}
			%img{:src => "img/virtualburn_torah_static.gif", :id => 'torah'}